body {
    display: flexbox;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 36px;
    display: flex;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.125s ease;
    cursor: pointer;
}
.nav-links li:hover {
    color: var(--color-primary);
    font-weight: bold;
}
.nav-links li a {
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-text);
    border-radius: 20px;
    padding: 2.5px 5px;
}
.search-bar input {
    border: none;
    outline: none;
    padding: 3px;
    font-size: var(--font-size-base);
    border-radius: 20px;
}

.account {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.account img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero {
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, var(--color-light), var(--color-dark-green));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.hero h1 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
}
.hero .btn {
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: whitesmoke;
    padding: 10px 20px;
}

#shareBtn {
    border-radius: 20px;
}